<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body"> Widget settings form goes here </div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
  <h3>Importance de l'audit : </h3>
    <p class="col-md-5">L'Audit Interne est une activité indépendante et objective qui donne à une organisation une assurance sur le degré de maîtrise de ses opérations, lui apporte ses conseils pour les améliorer, et contribue à créer de la valeur ajoutée.<br><br>
Il aide cette organisation à atteindre ses objectifs en évaluant, par une approche systématique et méthodique, ses processus de management des risques, de contrôle, et de gouvernement d'entreprise, et en faisant des propositions pour renforcer leur efficacité.<br><br>
Du fait de la variété des domaines à couvrir et des missions à conduire, l’audit interne doit disposer d’une gamme de compétences toujours plus étendue. La formation permanente constitue un facteur clé de performance au plan individuel et collectif.<br><br></p>
  <div class="page-title">
    <h3>Vous réalisez l'audit de : </h3>
  </div>
       <div class="row">
        <% for(var i=0; i<projects.length; i++) {

          var demande = false; for(var k=0; k<projects[i].demandes.length; k++) {
          if (projects[i].demandes[k].validated && projects[i].demandes[k].type === "audit" && projects[i].demandes[k].coach === req.session.user.id) {
              demande = true;
            }
          }

        if (projects[i].audit === 'open' && demande) {%>

        <!-- BEGIN BLOG POST WITH IMAGE -->
               <div class="col-md-4">
          <div class="widget-item narrow-margin">
                  <div class="tiles white ">
                    <div class="tiles-body">
                      <div class="row">
                        <div class="user-comment-wrapper pull-left">
                          <div class="profile-wrapper">
              <img src="images/profiles/d2x.jpg" alt="" data-src="images/profiles/d.jpg" data-src-retina="images/profiles/d2x.jpg" width="35" height="35">
              </div>
                          <div class="comment">
                            <div class="user-name text-black bold"><%= projects[i].manager.firstname %> <span class="semi-bold"><%= projects[i].manager.lastname %></span> </div>
                            <div class="preview-wrapper">@ Project name </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="p-l-15 p-t-10 p-r-20 ">
                          <div class="post p-t-10 p-b-10">
                            <p class="p-b-10"><%= projects[i].pitch %></p>
                            <% for(var j=0; j<projects[i].needs.length; j++) {%>
                              <a href="#" class="hashtags m-b-5"> #<%= projects[i].needs[j].type %> </a>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a href="/project/<%= projects[i].id %>" class="btn btn-success">Accéder à l'espace du projet</a>
                          <button class="btn btn-warning btnActionFinish" data-id="<%= projects[i].id %>" >Terminer l'audit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
        <!-- BEGIN BLOG POST WITH IMAGE -->
          <% } %>
        <% } %>
      </div>
  <div class="page-title">
    <h3>Proposez-vous pour l'audit de : </h3>
  </div>
       <div class="row">
        <% for(var i=0; i<projects.length; i++) {

          var demande = false; for(var k=0; k<projects[i].demandes.length; k++) {
          if (projects[i].demandes[k].validated && projects[i].demandes[k].type === "audit") {
              demande = true;
            }
          }

        if (projects[i].audit === 'open' && !demande) {%>

        <!-- BEGIN BLOG POST WITH IMAGE -->
               <div class="col-md-4">
          <div class="widget-item narrow-margin">
                  <div class="tiles white ">
                    <div class="tiles-body">
                      <div class="row">
                        <div class="user-comment-wrapper pull-left">
                          <div class="profile-wrapper">
              <img src="images/profiles/d2x.jpg" alt="" data-src="images/profiles/d.jpg" data-src-retina="images/profiles/d2x.jpg" width="35" height="35">
              </div>
                          <div class="comment">
                            <div class="user-name text-black bold"><%= projects[i].manager.firstname %> <span class="semi-bold"><%= projects[i].manager.lastname %></span> </div>
                            <div class="preview-wrapper">@ Project name </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="p-l-15 p-t-10 p-r-20 ">
                          <div class="post p-t-10 p-b-10">
                            <p class="p-b-10"><%= projects[i].pitch %></p>
                            <% for(var j=0; j<projects[i].needs.length; j++) {%>
                              <a href="#" class="hashtags m-b-5"> #<%= projects[i].needs[j].type %> </a>
                            <% } %>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <% var demande = false; for(var k=0; k<projects[i].demandes.length; k++) {
                          if (projects[i].demandes[k].coach === req.session.user.id && projects[i].demandes[k].open && projects[i].demandes[k].type === "audit") {
                            demande = true;
                          }
                        } %>
                        <div class="p-l-15 p-t-10 p-r-20 ">
                          <div class="post p-t-10 p-b-10">
                            <button type="button" class="btn btnAction <% if (demande) { %>btn-success<% } else { %>btn-info<% } %> btn-cons" data-id="<%= projects[i].id %>"><% if (demande) { %>Merci d'avoir candidaté<% } else { %>Candidater<% } %></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
        <!-- BEGIN BLOG POST WITH IMAGE -->
          <% } %>
        <% } %>
      </div>
  </div>
</div>
<!-- END PAGE CONTAINER-->

<script type="text/javascript">
  $(document).ready(function() {
    $('.btnActionFinish').click(function(e) {
      var project = $(this).attr('data-id');
      $.ajax({
        type: 'POST',
        dataType: 'json',
        url: "/finish",
        headers: {"X-HTTP-Method-Override": "PUT"},
        data: {
          project: project
        }
      }).done(function() {
        window.location.reload();
      });
    });

    $('.btnAction').click(function(e) {
      e.preventDefault();
      var project = $(this).attr('data-id');
      $(this).toggleClass("btn-info");
      $(this).toggleClass("btn-success");

      if ($(this).html() === "Candidater") {
        $(this).html("Merci d'avoir candidaté");

        $.ajax({
          type: 'POST',
          dataType: 'json',
          url: "/user/demande",
          headers: {"X-HTTP-Method-Override": "POST"},
          data: {
            type: 'audit',
            project: project,
            comment: ''
          }
        }).done(function() {
          window.location.reload();
        });
      } else {
        $(this).html("Candidater");

        $.ajax({
          type: 'POST',
          dataType: 'json',
          url: "/user/demande/delete",
          headers: {"X-HTTP-Method-Override": "POST"},
          data: {
            project: project
          }
        }).done(function() {
          window.location.reload();
        });
      }
    });
  });
</script>