<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body"> Widget settings form goes here </div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
  <div class="page-title">
  <i class="fa fa-user"></i>
    <h3>Votre profil</h3>
  </div>
  <p>Vous trouverez ici toutes vos informations relatives à votre compte que vous pourrez modifier simplement.</p><br><br>
  <div class="row">
    <form method="POST" action="/coach">
      <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
          <label class="form-label">Prénom</label>
          <div class="controls">
            <input name="firstname" type="text" placeholder="Prénom" class="form-control" value="<%= req.session.user.firstname%>">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Nom</label>
          <div class="controls">
            <input name="lastname" type="text" placeholder="Nom" class="form-control" value="<%= req.session.user.lastname%>">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">E-mail</label>
          <div class="controls">
            <input name="email" type="text" placeholder="E-amil" class="form-control" value="<%= req.session.user.email%>">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Entreprise</label>
          <div class="controls">
            <input name="entreprise" type="text" placeholder="Le nom de votre entreprise" class="form-control" value="<%= req.session.user.entreprise%>">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Dans quelle domaine pouvez-vous apporté votre aide ?</label>
          <select name="expertise" id="multi" style="width:100%" multiple>
            <option value="UI">UI</option>
            <option value="UX">UX</option>
            <option value="Juridique">Juridique</option>
            <option value="Communication">Communication</option>
            <option value="Business">Business</option>
          </select>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="form-group">
          <button type="submit" class="btn btn-success">Mettre à jour</button>
        </div>
      </div>

    </form>
    </div>
  </div>
</div>
<!-- END PAGE CONTAINER-->
<script type="text/javascript">
$(document).ready(function() {
  $("#multi").select2();
  var selected = [];

  var expertises = JSON.parse('<%-JSON.stringify(req.session.user.expertise)%>');

  expertises.forEach(function(exp) {
    selected.push(exp);
  });

  $("#multi").val(selected).select2();

});
</script>