 BEGIN PAGE CONTAINER-->
<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body"> Widget settings form goes here </div>
  </div>
  <div class="clearfix"></div>
  <div class="content" ng-app="GoogleModule" ng-controller="GoogleController" ng-cloak>
  <div class="page-title">
    <h3>Espace d'échange</h3>
  </div>
    <div id="result"></div>

    <!-- The Google API Loader script. -->
    <div class="row">
      <div class="col-md-6">
        <button id="addFile" class="btn btn-success">Add file from Google Drive</button><br><br>
      </div>
    </div>

  <div class="row">
    <div class="col-md-6">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <div class="grid-body no-border">
                  <h3>Coach  <span class="semi-bold">files</span></h3>
                    <table class="table no-more-tables">
                        <thead>
                          <tr>
                            <th style="width:9%">Type</th>
                            <th style="width:22%">Name</th>
                            <th style="width:22%">Date</th>
                            <th style="width:6%">actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for (var i=0;i<docs.length;i++) {
                            if ((req.session.user.rank === 'manager' && docs[i].owner.id !== req.session.user.id) || (req.session.user.rank === 'coach' && docs[i].owner.id === req.session.user.id)) { %>
                          <tr>
                            <td class="v-align-middle"><img src="<%= docs[i].picto %>"/></td>
                            <td class="v-align-middle"><span class="muted"><a href="<%= docs[i].link %>" target="_blank"><%= docs[i].name %></a></span>
                            </td>
                            <td>
                              <%= docs[i].createdAt %>
                            </td>
                            <td>
                            <% if (req.session.user.rank === 'coach') { %>
                              <button class="btn btn-danger btnAction" data-id="<%= docs[i].id %>" data-f-id="<%= docs[i].f_id %>">DELETE</button>
                              <% } %>
                              <a href="<%= docs[i].link %>" class="btn btn-success" target="_blank">SHOW</a>
                            </td>
                          </tr>
                          <% } } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <div class="grid-body no-border">
                  <h3>Manager  <span class="semi-bold">files</span></h3>
                    <table class="table no-more-tables">
                        <thead>
                          <tr>
                            <th style="width:9%">Type</th>
                            <th style="width:22%">Name</th>
                            <th style="width:22%">Date</th>
                            <th style="width:6%">actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for (var i=0;i<docs.length;i++) {
                            if ((req.session.user.rank === 'manager' && docs[i].owner.id === req.session.user.id) || (req.session.user.rank === 'coach' && docs[i].owner.id === project.manager.id)) { %>
                          <tr>
                            <td class="v-align-middle"><img src="<%= docs[i].picto %>"/></td>
                            <td class="v-align-middle"><span class="muted"><a href="<%= docs[i].link %>" target="_blank"><%= docs[i].name %></a></span>
                            </td>
                            <td>
                              <%= docs[i].createdAt %>
                            </td>
                            <td>
                            <% if (req.session.user.rank === 'manager') { %>
                              <button class="btn btn-danger btnAction" data-id="<%= docs[i].id %>" data-f-id="<%= docs[i].f_id %>">DELETE</button>
                              <% } %>
                              <a href="<%= docs[i].link %>" class="btn btn-success" target="_blank">SHOW</a>
                            </td>
                          </tr>
                          <% } } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


  </div>
</div>
<!-- END PAGE CONTAINER -->

<script srx="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.js"></script>
<script type="text/javascript">

  // The Browser API key obtained from the Google Developers Console.
  // Replace with your own Browser API key, or your own key.
  // var developerKey = 'xxxxxxxYYYYYYYY-12345678';

  // The Client ID obtained from the Google Developers Console. Replace with your own Client ID.
  var clientId = "806351021514-bnbh5tsvhb21rit86khrl0g1ckc4c128.apps.googleusercontent.com"

  // Replace with your own App ID. (Its the first number in your Client ID)
  var appId = "806351021514";

  // Scope to use to access user's Drive items.
  var scope = ['https://www.googleapis.com/auth/drive'];

  var pickerApiLoaded = false;
  var oauthToken;

  // Use the Google API Loader script to load the google.picker script.
  function loadPicker() {
    gapi.load('auth');
    gapi.load('client', {'callback': onClientLoaded});
    gapi.load('picker', {'callback': onPickerApiLoad});
  }

  function onClientLoaded(){
    gapi.client.load('drive', 'v2', onAuthApiLoad);
  }

  function onAuthApiLoad() {
    window.gapi.auth.authorize(
        {
          'client_id': clientId,
          'scope': scope,
          'immediate': false
        },
        handleAuthResult);
  }

  function onPickerApiLoad() {
    pickerApiLoaded = true;
    createPicker();
  }

  function handleAuthResult(authResult) {
    if (authResult && !authResult.error) {
      oauthToken = authResult.access_token;
      $('#addFile').click(function(e) {
        createPicker();
      });
    }
  }

  // Create and render a Picker object for searching images.
  function createPicker() {
    if (pickerApiLoaded && oauthToken) {
      var view = new google.picker.View(google.picker.ViewId.DOCS);
      // view.setMimeTypes("image/png,image/jpeg,image/jpg");
      var picker = new google.picker.PickerBuilder()
          .enableFeature(google.picker.Feature.NAV_HIDDEN)
          .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
          .setAppId(appId)
          .setOAuthToken(oauthToken)
          .addView(view)
          .addView(new google.picker.DocsUploadView())
          // .setDeveloperKey(developerKey)
          .setCallback(pickerCallback)
          .build();
       picker.setVisible(true);
    }
  }

  // A simple callback implementation.
  function pickerCallback(data) {
    if (data.action == google.picker.Action.PICKED) {
      console.log(data);
      data.docs.forEach(function(doc) {

        var resource = {
          'id': "anyoneWithLink",
          'type': 'anyone',
          'role': 'reader'
        };

        gapi.client.drive.permissions.insert({
          'fileId': doc.id,
          'resource': resource
        }).execute(function(data) {
          console.log(data)
        });

        $.ajax({
          type: 'POST',
          dataType: 'json',
          url: "/doc",
          headers: {"X-HTTP-Method-Override": "POST"},
          data: {
            owner: <%= req.session.user.id %>,
            project: <%= projectID %>,
            f_id: doc.id,
            name: doc.name,
            link: doc.url,
            picto: doc.iconUrl
          }
        });
      });
      setTimeout(function() {
        window.location.reload();
      }, 1000*data.docs.length)
    }
  }

  $('.btnAction').click(function(e) {
    e.preventDefault();
    var project = $(this).attr('data-id');
    var file = $(this).attr('data-f-id');
    if (project) {

      gapi.client.drive.permissions.delete({
        'fileId': file,
        'permissionId': 'anyone'
      }).execute(function(data) {
        console.log(data);
      });

      $.ajax({
          type: 'DELETE',
          dataType: 'json',
          url: "/doc",
          headers: {"X-HTTP-Method-Override": "DELETE"},
          data: {
            id: project
          }
        }).done(function() {
          window.location.reload();
        });
    }
  });
</script>
<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
<script type="text/javascript" src="https://apis.google.com/js/client.js"></script>