<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body"> Widget settings form goes here </div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
  <div class="page-title">
    <h3>Vous travaillez avec : </h3>
  </div>
       <div class="row">
        <% for(var i=0; i<projects.length; i++) {%>

        <% var coach = false;
        var type = false;
        for(var l=0; l<projects[i].demandes.length; l++) {
          if (projects[i].demandes[l].coach === req.session.user.id && projects[i].demandes[l].validated) {
            coach = true;
            type = projects[i].demandes[l].type;

            if (type === 'audit') coach = false;
          }
        }

        if (coach) {%>

        <!-- BEGIN BLOG POST WITH IMAGE -->
               <div class="col-md-4">
          <div class="widget-item narrow-margin">
                  <div class="tiles white ">
                    <div class="tiles-body">
                      <div class="row">
                        <div class="user-comment-wrapper pull-left">
                          <div class="profile-wrapper">
              <img src="images/profiles/d2x.jpg" alt="" data-src="images/profiles/d.jpg" data-src-retina="images/profiles/d2x.jpg" width="35" height="35">
              </div>
                          <div class="comment">
                            <div class="user-name text-black bold"><%= projects[i].manager.firstname %> <span class="semi-bold"><%= projects[i].manager.lastname %></span> </div>
                            <div class="preview-wrapper">@ Project name </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="p-l-15 p-t-10 p-r-20">
                          <div class="post p-t-10 p-b-10">
                            <a href="#" class="hashtags m-b-5"> #<%= type %> </a>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a href="/project/<%= projects[i].id %>" class="btn btn-success">Accéder à l'espace du projet</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
        <!-- BEGIN BLOG POST WITH IMAGE -->
        <% } %>
        <% } %>
      </div>

  <div class="page-title">
    <h3>Proposez votre aide à : </h3>
  </div>
      <div class="row">
        <% for(var i=0; i<projects.length; i++) {%>

        <% var coach = false;
        for(var l=0; l<projects[i].demandes.length; l++) {
          if (projects[i].demandes[l].coach === req.session.user.id && projects[i].demandes[l].validated && projects[i].demandes[l].type !== 'audit') coach = true;
        }

        var help = false;
        for(var m=0; m<projects[i].needs.length; m++) {
          for(var n=0; n<req.session.user.expertise.length; n++) {
            if (projects[i].needs[m].type === req.session.user.expertise[n]) help = true;

            for(var l=0; l<projects[i].demandes.length; l++) {
              if (req.session.user.expertise[n] === projects[i].needs[m].type && req.session.user.expertise[n] === projects[i].demandes[l].type && projects[i].demandes[l].validated) help = false;
            }

          }
        }%>
        <%if (!coach && help && projects[i].open) {%>

        <!-- BEGIN BLOG POST WITH IMAGE -->
        <div class="col-md-4">
          <div class="widget-item narrow-margin">
                  <div class="tiles purple " style="max-height:345px">
                    <div class="tiles-body">

                      <h3 class="text-white m-t-50 m-b-30 m-r-20">Project name</h3>
                      <div class="overlayer bottom-right fullwidth">
                        <div class="overlayer-wrapper">
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="tiles white ">
                    <div class="tiles-body">
                      <div class="row">
                        <div class="user-comment-wrapper pull-left">
                          <div class="profile-wrapper">
              <img src="images/profiles/d2x.jpg" alt="" data-src="images/profiles/d.jpg" data-src-retina="images/profiles/d2x.jpg" width="35" height="35">
              </div>
                          <div class="comment">
                            <div class="user-name text-black bold"><%= projects[i].manager.firstname %> <span class="semi-bold"><%= projects[i].manager.lastname %></span> </div>
                            <div class="preview-wrapper">@ <%= projects[i].manager.firstname %><%= projects[i].manager.lastname %> </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <% var demande = false; for(var k=0; k<projects[i].demandes.length; k++) {
                          if (projects[i].demandes[k].coach === req.session.user.id && projects[i].demandes[k].open) {
                            demande = true;
                          }
                        } %>
                        <div class="p-l-15 p-t-10 p-r-20 <% if (!demande) { %>b-b<% } %>">
                          <div class="post p-t-10 p-b-10">
                            <p class="p-b-10"><%= projects[i].pitch %></p>
                            <% for(var j=0; j<projects[i].needs.length; j++) {%>
                              <a href="#" class="hashtags m-b-5 tip" data-toggle="tooltip" title="<%= projects[i].needs[j].content %>"  data-placement="right" > #<%= projects[i].needs[j].type %></a>
                            <% } %>
                          </div>
                        </div>
                        <div class="p-l-15 p-t-10 p-r-20">
                        <% if (!demande) { %>
                          <div class="post p-t-10 p-b-10">
                            <select name="type" id="<%= projects[i].id %>_helpType">
                              <% for(var o=0; o<projects[i].needs.length; o++) {
                                var postule = false;
                                for(var p=0; p<req.session.user.expertise.length; p++) {
                                  if (projects[i].needs[o].type === req.session.user.expertise[p]) postule = true;
                                  for(var l=0; l<projects[i].demandes.length; l++) {
                                    if (projects[i].demandes[l].validated && projects[i].demandes[l].type === req.session.user.expertise[p]) postule = false;
                                  }
                                } if (postule) { %>
                                  <option value="<%= projects[i].needs[o].type %>"><%= projects[i].needs[o].type %></option>
                                <% } %>
                              <% } %>
                            </select>
                          </div>
                          <div class="post p-t-10 p-b-10">
                            <textarea name="<%= projects[i].id %>_comment" id="<%= projects[i].id %>_comment" rows="10" type="text" class="form-control" placeholder="Comment comptez-vous apporter votre aide"></textarea>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <p>Temps à passer par semaine (en heure) :</p>
                              <input type="text" id="<%= projects[i].id %>_hours" name="<%= projects[i].id %>_hours">
                            </div>
                            <div class="col-md-12">
                              <p>Prix d'une heure :</p>
                              <input type="text" id="<%= projects[i].id %>_price" name="<%= projects[i].id %>_price">
                            </div>
                             <div class="col-md-12">
                              <p>Durée de la période (en semaine) :</p>
                              <input type="text" id="<%= projects[i].id %>_weeks" name="<%= projects[i].id %>_weeks">
                            </div>
                          </div>
                          <br>
                        <% } %>
                            <button type="button" class="btn btnAction <% if (demande) { %>btn-success<% } else { %>btn-info<% } %> btn-cons" data-id="<%= projects[i].id %>"><% if (demande) { %>Merci d'avoir candidaté<% } else { %>Candidater<% } %></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
        <!-- BEGIN BLOG POST WITH IMAGE -->
          <%}%>
        <% } %>
      </div>
  </div>
</div>
<!-- END PAGE CONTAINER-->

<script type="text/javascript">
  $(document).ready(function() {
    $('.btnAction').click(function(e) {
      e.preventDefault();
      var project = $(this).attr('data-id');
      var type = $('#' + project + '_helpType').val();
      var comment = $('#' + project + '_comment').val();
      var hours = $('#' + project + '_hours').val();
      var price = $('#' + project + '_price').val();
      var weeks = $('#' + project + '_weeks').val();
      $(this).toggleClass("btn-info");
      $(this).toggleClass("btn-success");

      if ($(this).html() === "Candidater") {
        $(this).html("Merci d'avoir candidaté");

        $.ajax({
          type: 'POST',
          dataType: 'json',
          url: "/user/demande",
          headers: {"X-HTTP-Method-Override": "POST"},
          data: {
            type: type,
            project: project,
            comment: comment,
            hours: hours,
            price: price,
            weeks: weeks
          }
        }).done(function() {
          window.location.reload();
        });
      } else {
        $(this).html("Candidater");

        $.ajax({
          type: 'POST',
          dataType: 'json',
          url: "/user/demande/delete",
          headers: {"X-HTTP-Method-Override": "POST"},
          data: {
            project: project
          }
        }).done(function() {
          window.location.reload();
        });
      }
    });
  });
</script>